* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: #131f24;
  color: #fcde67;
  font-family: "Montserrat", sans-serif;
}

.di_no {
  display: none !important;
}

.hippo {
  display: inline-block;
  font-size: 3rem;
  text-align: center;
  width: 130px;
  height: 80px;
  background: #5bccf6;
  color: #fcde67;
  line-height: 80px;
  border: 1px soild #fff;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #131f24;
}

.nav.drop {
  position: fixed;
  -webkit-animation-name: drop_down;
          animation-name: drop_down;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  background: #1c2a30;
}

.nav .item_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .item_list .link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fcde67;
  padding: 30px 50px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav .item_list .link.on, .nav .item_list .link:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  color: #5bccf6;
}

.nav .item_list .link.on i, .nav .item_list .link:hover i {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 10px;
}

.nav .item_list .link i {
  font-size: 1rem;
  position: absolute;
  opacity: 0;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #5bccf6;
}

.nav .item_list .link span {
  font-size: 1rem;
}

.main {
  width: 100%;
  margin: 0 auto;
}

.main section {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main section:nth-child(even) {
  background-color: #171b1d;
}

.main section.title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main section.title_wrap .title_group {
  width: 60%;
}

.main section .title {
  font-weight: 700;
}

.main section .title:hover {
  color: #5bccf6;
}

.main section.section_introduce .wrap_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main section.section_introduce .wrap_about li {
  width: 300px;
  height: 300px;
  background-color: #131f24;
  margin: 10px;
}

.skills_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills_list .item {
  position: relative;
  width: 150px;
}

.skills_list .item svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(255, 255, 255, 0.05);
  stroke-linecap: round;
}

.skills_list .item svg circle:nth-child(2) {
  stroke: #fff;
  stroke-dasharray: 315px;
  stroke-dashoffset: calc(315px - (315px * 90) / 100);
}

.skills_list .item .circle.html svg circle:nth-child(2) {
  -webkit-animation: pieChart 3s linear forwards;
          animation: pieChart 3s linear forwards;
}

@-webkit-keyframes pieChart {
  0% {
    stroke-dashoffset: 315px;
  }
  100% {
    stroke-dashoffset: calc(315px - (315px * 90) / 100);
  }
}

@keyframes pieChart {
  0% {
    stroke-dashoffset: 315px;
  }
  100% {
    stroke-dashoffset: calc(315px - (315px * 90) / 100);
  }
}

.skills_list .item .percent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.skills_list .item .tool {
  text-align: center;
}

div.changing-title {
  font-size: 8vw;
  height: 1.2em;
  position: relative;
  left: 50%;
  width: 100%;
  overflow-y: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

div.changing-title h1 {
  font-size: 1em;
  position: absolute;
  left: 15vw;
  top: 0;
  margin: 0;
}

div.changing-title h1 .letter {
  position: relative;
  top: 1.2em;
}

div.changing-title h1 .letter.in {
  -webkit-animation-name: letter-in;
          animation-name: letter-in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

div.changing-title h1 .letter.out {
  top: 0em;
  -webkit-animation-name: letter-out;
          animation-name: letter-out;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes drop_down {
  0% {
    top: -90px;
  }
  100% {
    top: 0;
  }
}

@keyframes drop_down {
  0% {
    top: -90px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes letter-in {
  0% {
    top: 1.2em;
  }
  100% {
    top: 0em;
  }
}

@keyframes letter-in {
  0% {
    top: 1.2em;
  }
  100% {
    top: 0em;
  }
}

@-webkit-keyframes letter-out {
  0% {
    top: 0em;
  }
  100% {
    top: -1.2em;
  }
}

@keyframes letter-out {
  0% {
    top: 0em;
  }
  100% {
    top: -1.2em;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .nav .item_list .link {
    padding: 30px 25px;
  }
}
/*# sourceMappingURL=main.css.map */