.dark {
  background: $primary-color-dark1;
  color: $text-color-light;
  .hippo {
    background: $accent-color;
    color: $text-color-light;
    border: 1px soild #fff;
  }
  .nav {
    background-color: $primary-color-dark1;
    box-shadow: $shadow-nav-dark-100;
    .bars {
      color: $text-color-light;
    }
    .switch_group {
      box-shadow: $shadow-nav-light-100;
      .theme_switch_input {
      }
      .switch_label {
        i {
          opacity: 0.8;
          &.fa-sun {
          }
          &.fa-moon {
          }
        }
      }
      &::after {
        background: $primary-color-dark1;
        box-shadow: $shadow-dark-circle;
      }
      &.on {
        &::after {
        }
      }
    }
    &.drop {
      background:$primary-color-dark2;
      .item_list {
        .link {
        }
      }
      .switch_group{
        &::after{
          background:$primary-color-dark2;
        }
      }
    }
    .item_list {
      .link {
        color: $text-color-light;
        &.on,
        &:hover {
          color: $accent-color;
          i {
          }
        }
        i {
          color: $accent-color;
        }
        span {
        }
      }
    }
  }
  .main {
    section {
      background-color: $primary-color-dark1;
      &:nth-child(even) {
        background-color: $primary-color-dark1;
      }
      &.title_wrap {
        .title_group {
          div.changing-title {
            h1 {
              .letter {
                &.in {
                }
                &.out {
                }
              }
            }
          }
        }
      }
      .title {
        &:hover {
          color: $accent-color;
        }
      }
      &.section_introduce {
        .wrap_about {
          li {
          }
        }
      }
    }
  }
  @media screen and (max-width: 902px) {
    html {
    }
    .nav {
      .hippo {
      }
      .item_list {
        background: $primary-color-dark2;
        .link {
        }
        &.on {
          .link {
            i {
              color: $accent-color;
            }
          }
        }
      }
      .bars {
      }
      .switch_group {
      }
    }
  }
  @media screen and (max-width: 768px) {
    html {
    }
  }

  .section_skills {
    background: $primary-color-dark1;
    color: $text-color-light;
    .tab_header {
      button {
        color: $text-color-light;
        background: $primary-color-dark1;
        box-shadow: $shadow-btn-dark-off;
        &.on {
          background: $primary-color-dark1;
          box-shadow: $shadow-btn-dark-on;
        }
      }
    }
    .skill_content {
      .skills_list {
        .item {
          .card {
            background: $primary-color-dark1;
            box-shadow: $shadow-card-dark-00;
            &.on {
              animation: cardAni-dark 1s linear forwards;
            }
          }
          .circle {
            box-shadow: $shadow-dark-circle;
            &::after {
              box-shadow: $shadow-dark-circle-inset;
            }
          }
          .pie {
          }
          svg circle {
            stroke: $dark-shadow;
            &:nth-child(2) {
              stroke: #457b9d;
            }
          }
          .counter {
          }
          .title {
          }
        }
      }
    }
  }
}
