$primary-color:#030e12;
$accent-color:#5bccf6;
$text-color:#fcde67;
$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$font-family: (
    "montserrat": ("Montserrat", sans-serif)
);
$font-small: 1rem;
$font-medium: 2rem;
$font-large: 3rem;

$padding-medium: 30px 25px;
$padding-large: 30px 50px;


@media screen and (max-width: 768px) {
    
}