$primary-color1: #131f24;
$primary-color2: #171b1d;
$accent-color: #5bccf6;
$text-color: #fcde67;
$text-color2: #457b9d;
$nav-color: #1c2a30;
$font-main: "Montserrat", sans-serif;
$white: #fff;
$white-1: #f0f0f0;
$white-2: #dfe4ea;
$white-3: #f5f6f7;
$white-e: #eee;
$color-shadow: #ccc;
$dark-shadow: #5f5f5f;
$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$font-small: 1rem;
$font-medium: 2rem;
$font-large: 3rem;

$padding-medium: 30px 25px;
$padding-large: 30px 50px;

@media screen and (max-width: 768px) {
}
