$primary-color:#030e12;
$accent-color:#5bccf6;
$text-color:#fcde67;
$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$font-family: (
    "montserrat": ("Montserrat", sans-serif)
);
$font-small: 16px;
$font-medium: 24px;
$font-large: 36px;

$padding-large: 30px 24px;