$primary-color-dark1: #131f24;
$primary-color-dark2: #171b1d;
$primary-color-light1: #ffffff;
$primary-color-light2: #e2d4d4;
$accent-color: #5bccf6;
$text-color: #fcde67;
$text-color-light: #fcde67;
$text-color-dark: #131f24;
$text-color2: #457b9d;
$nav-color: #1c2a30;
$font-main: "Montserrat", sans-serif;
$white: #fff;
$white-1: #f0f0f0;
$white-2: #dfe4ea;
$white-3: #f5f6f7;
$white-e: #eee;
$color-shadow: #ccc;
$dark-shadow: rgba(0, 0, 0, 0.541);
$light-shadow: rgba(255, 255, 255, 0.226);
$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$move-xy-center:translate(-50%,-50%);
$move-x-center:translateX(-50%);
$move-y-center:translateY(-50%);
$font-small: 1rem;
$font-medium: 2rem;
$font-large: 3rem;

$padding-medium: 30px 25px;
$padding-large: 30px 50px;
$shadow-light-circle-inset:
          2px 2px 2px 0px $white-2 inset,
          -2px -2px 2px 0px $white inset;
$shadow-dark-circle-inset:
          2px 2px 2px 0px $dark-shadow inset,
          -2px -2px 2px 0px $light-shadow inset;
$shadow-light-circle:
          -4px -2px 4px 0px $white, 
          4px 2px 6px 0px $white-2;
$shadow-dark-circle:
          -4px -2px 4px 0px $light-shadow, 
          4px 2px 6px 0px $dark-shadow;
$shadow-nav-light-100: 
          0 2px 4px 0 rgba(151, 145, 151, 0.1);
$shadow-card-light-00:
          0 0 0 $color-shadow, 
          0 0 0 $white,
          10px 10px 10px $color-shadow inset,
          -10px -10px 10px $white inset;
$shadow-card-light-100: 
          40px 40px 40px $color-shadow, 
          0 0 0 $white,
          0 0 0 $color-shadow inset, 
          2px 2px 2px $white inset;
$shadow-card-dark-00:
          0 0 0 $dark-shadow,
          0 0 0 $dark-shadow inset,
          10px 10px 10px $dark-shadow inset,
          -10px -10px 10px $light-shadow inset;
$shadow-card-dark-100:
          0 0 0 #fff,
          0 0 0 #fff inset, 
          40px 40px 40px $dark-shadow, 
          2px 2px 2px $light-shadow inset;
$shadow-btn-dark-on : 
              0 0 0 $color-shadow, 
              0 0 0 $white,
              5px 5px 5px $light-shadow inset, 
              -5px -5px 5px $dark-shadow inset;
$shadow-btn-dark-off : 
              0 0 0 $color-shadow, 
              0 0 0 $white,
              5px 5px 5px $dark-shadow, 
              -5px -5px 5px $light-shadow inset;
$shadow-btn-light-on : 
              0 0 0 $color-shadow, 
              0 0 0 $white,
              5px 5px 5px $color-shadow inset, 
              -5px -5px 5px $white inset;
$shadow-btn-light-off : 
              10px 10px 10px $color-shadow, 
              0 0 0 $white,
              0 0 0 $color-shadow inset, 
              1px 1px 1px $white inset;