@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weight, $weight-name);
}

body {
    background: $primary-color;
    color:$text-color;
}
.nav{
    position:absolute;
    top:0;
    left:0;
    width:120px;
    height: 100%;
    background-color: $primary-color;
    a{
        display: inline-block;
        text-decoration:none;
        color:$text-color;
        i{
            font-size:$font-large;
        }
        span{
            font-size:$font-small;
        }
    }
    
}
.main {
    width:80%;
    margin: 0 auto;

    .title {
        font-weight: weight(bold);
        font-family: map-get($font-family, 'montserrat' );
        &:hover{
            color:pink;
        }
    }
    

}
