@import "./resets";
@import "./variables";
@import "./dark";

@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
.di_no {
  display: none !important;
}

body {
  background: $primary-color-light1;
  color: $text-color-dark;
  font-family: $font-main;
}

.hippo {
  position:absolute;
  top:0;
  left:0;
  display: inline-block;
  font-size: $font-large;
  text-align: center;
  width: 8.125rem;
  height: 80px;
  background: $text-color;
  color: $accent-color;
  line-height: 80px;
  border: 1px soild #fff;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  background-color: $primary-color-light1;
  box-shadow: $shadow-nav-light-100;
  .bars{
    position:absolute;
    top:0;right:0;
    width:80px;height:80px;
    font-size: $font-medium;
    display:none;
  }
  .switch_group{
    position: absolute;top:50%;right:30px;
    transform: $move-y-center;
    width:100px;
    height:50px;
    border-radius: 35px;
    box-shadow: $shadow-nav-light-100;
    font-size: $font-small;
    background:$white-3;
    
    .theme_switch_input{
      opacity:0;
    }
    .switch_label{
      width:100%;
      position:absolute;
      top:50%;left:50%;
      transform:$move-xy-center;
      display:inline-block;
      i{
        opacity: 0.2;
        position:absolute;
        top:50%;
        transform:$move-y-center;
        &.fa-sun{
          left:13px;
        }
        &.fa-moon{
          right:13px;
        }
      }
    }
  }
  &.drop {
    position: fixed;
    animation-name: drop_down;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    .item_list {
      .link {
      }
    }
  }
  .item_list {
    width: 100%;
    display: flex;
    justify-content: center;
    .link {
      position: relative;
      display: inline-block;
      // width:100%;
      text-decoration: none;
      color: $text-color-dark;
      padding: $padding-large;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.5s;
      font-weight:bold;
      &.on,
      &:hover {
        transform: translateY(10px);
        color: $accent-color;
        i {
          opacity: 1;
          transition: all 0.5s;
          top: 10px;
        }
      }
      i {
        font-size: $font-small;
        position: absolute;
        opacity: 0;
        top: 5px;
        left: 50%;
        transform: $move-x-center;
        color: $accent-color;
      }
      span {
        font-size: $font-small;
      }
    }
  }
}
.main {
  width: 100%;
  margin: 0 auto;

  section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color-light1;
    &:nth-child(even) {
      background-color: $primary-color-light1;
    }
    &.title_wrap {
      display: flex;
      justify-content: center;
      .title_group {
        width: 66%;
      }
    }
    .title {
      font-weight: weight(bold);
      &:hover {
        color: $accent-color;
      }
    }
    &.section_introduce {
      .wrap_about {
        display: flex;
        li {
          width: 300px;
          height: 300px;
          background-color: $primary-color-light1;
          margin: 10px;
        }
      }
    }
  }
}

div.changing-title {
  font-size: 8vw;
  height: 1.2em;
  position: relative;
  left: 50%;
  width: 100%;
  overflow-y: hidden;
  transform: translate3d(0, 0, 0);
  transform: $move-x-center;
  h1 {
    font-size: 1em;
    position: absolute;
    left: 19vw;
    top: 0;
    margin: 0;
    .letter {
      position: relative;
      top: 1.2em;
      &.in {
        animation-name: letter-in;
        animation-duration: 0.3s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }
      &.out {
        top: 0em;
        animation-name: letter-out;
        animation-duration: 0.3s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
      }
    }
  }
}
@keyframes drop_down {
  0% {
    top: -90px;
  }
  100% {
    top: 0;
  }
}
@keyframes letter-in {
  0% {
    top: 1.2em;
  }
  100% {
    top: 0em;
  }
}
@keyframes letter-out {
  0% {
    top: 0em;
  }
  100% {
    top: -1.2em;
  }
}

@media screen and (max-width: 902px) {
  html {
    font-size: 15px;
  }
  .nav {
    .hippo{
      width:80px;
    }
    .item_list {
      position:fixed;
      top:0;
      left:-300px;
      width:300px;
      height:100%;
      display:flex;
      flex-direction:column;
      background:$text-color-light;
      transition: left 0.5s;
      .link {
        padding: $padding-medium;
      }
      &.on{
        top:0;
        left:0;
        .link{
          margin-left:25px;
          i {
            opacity: 1;
            position: absolute;
            top: 50%;
            left:0;
            transform: $move-y-center;
            color: $accent-color;
          }

        }
      }
    }
    .bars{
      display:block;
    }

  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  
  
}

.tab_header {
  display: flex;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: $move-x-center;
  button {
    color: $text-color2;
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 20px;
    border-radius: 20px;
    background: $white-3;
    box-shadow: 10px 10px 10px $color-shadow, 0 0 $white,
      0 0 0 $color-shadow inset, 1px 1px 1px $white inset;
    &.on {
      background: #f0f0f0;
      box-shadow: 0 0 0 $color-shadow, 0 0 0 $white,
        5px 5px 5px $color-shadow inset, -5px -5px 5px $white inset;
    }
  }
}

.section_skills {
  background: #f0f0f0;
  color: $text-color2;
}
.skills_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .item {
    position: relative;
    .card {
      margin: 1rem;
      overflow: hidden;
      position: relative;
      transition: box-shadow 3s;
      width: 200px;
      height: 300px;
      border-radius: 20px;
      background: #f0f0f0;
      box-shadow: $shadow-card-light-00;
      &.on {
        animation: cardAni-light 1s linear forwards;
        // svg circle:nth-child(2){
        //     animation:skill 3s linear forwards;
        //     }
        .circle.html {
          svg circle:nth-child(2) {
            transition: stroke-dashoffset 3s;
            stroke-dashoffset: calc(332px - 332px * 90 / 100);
          }
        }
        .circle.css {
          svg circle:nth-child(2) {
            transition: stroke-dashoffset 3s;
            stroke-dashoffset: calc(332px - 332px * 89 / 100);
          }
        }
        .circle.jq {
          svg circle:nth-child(2) {
            transition: stroke-dashoffset 3s;
            stroke-dashoffset: calc(332px - 332px * 80 / 100);
          }
        }
        .circle.js {
          svg circle:nth-child(2) {
            transition: stroke-dashoffset 3s;
            stroke-dashoffset: calc(332px - 332px * 60 / 100);
          }
        }
        .circle.ap {
          svg circle:nth-child(2) {
            transition: stroke-dashoffset 3s;
            stroke-dashoffset: calc(332px - 332px * 70 / 100);
          }
        }
        .circle.github {
          svg circle:nth-child(2) {
            transition: stroke-dashoffset 3s;
            stroke-dashoffset: calc(332px - 332px * 85 / 100);
          }
        }
      }
    }
    @keyframes cardAni-light {
      100% {
        width: 200px;
        height: 300px;
        background: $white-3;
        box-shadow: $shadow-card-light-100;
      }
    }
    .circle {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: $move-xy-center;
      box-shadow: $shadow-light-circle;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: $move-xy-center;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        box-shadow: $shadow-light-circle-inset
      }
      &.html {
        transition: stroke-dashoffset 3s;
        svg circle:nth-child(2) {
          stroke: #e55126;
        }
      }
      &.css {
        svg circle:nth-child(2) {
          stroke: #0c73b8;
        }
      }
      &.js {
        svg circle:nth-child(2) {
          stroke: #e5a228;
        }
      }
      &.jq {
        svg circle:nth-child(2) {
          stroke: #0769AD;
        }
      }
      &.ap {
        svg circle:nth-child(2) {
          stroke: #01d5f5;
        }
      }
      &.github {
        svg circle:nth-child(2) {
          stroke: #ff7800;
        }
      }
    }
    .pie {
      top: 50%;
      left: 50%;
      transform: $move-xy-center rotate(-90deg);
      width: 120px;
      height: 120px;
      position: relative;
      border-radius: 50%;
    }
    svg circle {
      fill: none;
      stroke: $white-e;
      stroke-width: 14;
      stroke-dasharray: 333px;
      stroke-dashoffset: 0;
      &:nth-child(2) {
        stroke-dasharray: calc(332px * 0.9);
        stroke-dashoffset: 250;
        stroke: #457b9d;
        stroke-linecap: round;
      }
    }
    @keyframes skill {
      100% {
        stroke-dashoffset: 0;
      }
    }
    .counter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: $move-xy-center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }
    .title {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: $move-x-center;
      text-transform: uppercase;
    }
  }
}

