@import "./resets";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: $primary-color1;
  color: $text-color;
  font-family: $font-main;
}

.di_no {
  display: none !important;
}
.hippo {
  display: inline-block;
  font-size: $font-large;
  text-align: center;
  width: 130px;
  height: 80px;
  background: $accent-color;
  color: $text-color;
  line-height: 80px;
  border: 1px soild #fff;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  background-color: $primary-color1;
  &.drop {
    position: fixed;
    animation-name: drop_down;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    background: $nav-color;
  }
  .item_list {
    width: 100%;
    display: flex;
    justify-content: center;
    .link {
      position: relative;
      display: inline-block;
      // width:100%;
      text-decoration: none;
      color: $text-color;
      padding: $padding-large;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.5s;
      &.on,
      &:hover {
        transform: translateY(10px);
        color: $accent-color;
        i {
          opacity: 1;
          transition: all 0.5s;
          top: 10px;
        }
      }
      i {
        font-size: $font-small;
        position: absolute;
        opacity: 0;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        color: $accent-color;
      }
      span {
        font-size: $font-small;
      }
    }
  }
}
.main {
  width: 100%;
  margin: 0 auto;

  section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:nth-child(even) {
      background-color: $primary-color2;
    }
    &.title_wrap {
      display: flex;
      justify-content: center;
      .title_group {
        width: 60%;
      }
    }
    .title {
      font-weight: weight(bold);
      &:hover {
        color: $accent-color;
      }
    }
    &.section_introduce {
      .wrap_about {
        display: flex;
        li {
          width: 300px;
          height: 300px;
          background-color: $primary-color1;
          margin: 10px;
        }
      }
    }
  }
}
.skills_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .item {
    position: relative;
    width: 150px;
    .circle {
      width: 100px;
      height: 100px;
      border: 4px solid rgba(255, 255, 255, 0.05);
      border-radius: 50%;
      position: relative;
      .pie {
        position: relative;
        width: 120px;
        height: 120px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        svg circle {
          fill: transparent;
          stroke: #fff;
          stroke-width: 10;
          stroke-dasharray: 314px;
          stroke-dashoffset: 314px;
          stroke-linecap: round;
          transition: stroke-dashoffset 3s;
        }
      }
      &.html.on {
        .pie {
          svg circle {
            stroke-dashoffset: calc(314px - 314px * 90 / 100);
          }
        }
      }
      &.css.on {
        .pie {
          svg circle {
            stroke-dasharray: calc(314px - 314px * 85 / 100);
          }
        }
      }
      &.jquery.on {
        .pie {
          svg circle {
            stroke-dasharray: calc(314px - 314px * 78 / 100);
          }
        }
      }
      &.js.on {
        .pie {
          svg circle {
            stroke-dasharray: calc(314px - 314px * 60 / 100);
          }
        }
      }
      &.photoshop.on {
        .pie {
          svg circle {
            stroke-dasharray: calc(314px - 314px * 75 / 100);
          }
        }
      }
      &.illustrator.on {
        .pie {
          svg circle {
            stroke-dasharray: calc(314px - 314px * 70 / 100);
          }
        }
      }
    }
  }
  @keyframes pieChart {
    100% {
      stroke-dashoffset: 0;
    }
  }
  // .circle {
  //   &.html svg circle:nth-child(2) {
  //     stroke-dashoffset: calc(315px - (315px * 90) / 100);
  //   }
  //   &.css svg circle:nth-child(2) {
  //     stroke-dashoffset: calc(315px - (315px * 87) / 100);
  //   }
  //   &.jquery svg circle:nth-child(2) {
  //     stroke-dashoffset: calc(315px - (315px * 80) / 100);
  //   }
  //   &.js svg circle:nth-child(2) {
  //     stroke-dashoffset: calc(315px - (315px * 65) / 100);
  //   }
  //   &.photoshop svg circle:nth-child(2) {
  //     stroke-dashoffset: calc(315px - (315px * 75) / 100);
  //   }
  //   &.illustrator svg circle:nth-child(2) {
  //     stroke-dashoffset: calc(315px - (315px * 73) / 100);
  //   }
  // }
  .percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .tool {
    text-align: center;
  }
}

div.changing-title {
  font-size: 8vw;
  height: 1.2em;
  position: relative;
  left: 50%;
  width: 100%;
  overflow-y: hidden;
  transform: translate3d(0, 0, 0);
  transform: translateX(-50%);
  h1 {
    font-size: 1em;
    position: absolute;
    left: 15vw;
    top: 0;
    margin: 0;
    .letter {
      position: relative;
      top: 1.2em;
      &.in {
        animation-name: letter-in;
        animation-duration: 0.3s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }
      &.out {
        top: 0em;
        animation-name: letter-out;
        animation-duration: 0.3s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
      }
    }
  }
}
@keyframes drop_down {
  0% {
    top: -90px;
  }
  100% {
    top: 0;
  }
}
@keyframes letter-in {
  0% {
    top: 1.2em;
  }
  100% {
    top: 0em;
  }
}
@keyframes letter-out {
  0% {
    top: 0em;
  }
  100% {
    top: -1.2em;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .nav .item_list .link {
    padding: $padding-medium;
  }
}
