@import "./resets";
@import "./variables";
@import "./dark";

@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
.di_no {
  display: none !important;
}

body {
  background: $primary-color-light1;
  color: $text-color-dark;
  font-family: $font-main;
}
.back_to_top{
  position:fixed;
  bottom:-2px;right:2.5rem;
  // transform: $move-x-center;
  z-index:10;
  text-align: center;
  display: none;
  &:hover{
    bottom:0px;
  }
  &.on{
    display: block;
    animation: back2TopBtn 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
    a{
      display:inline-block;
      width:50px;height:50px;line-height: 50px;
      text-decoration: none;
      background:$accent-color;
      text-transform: uppercase;
      color:$primary-color-dark1;
      font-weight: bold;
      border-radius: 30px 30px 0 0;
    }
}

.hippo {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: $font-large;
  text-align: center;
  width: 8.125rem;
  height: 80px;
  background: $text-color-light;
  color: $accent-color;
  line-height: 80px;
  border: 1px soild #fff;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  height: 80px;
  width: 100%;
  background-color: $primary-color-light1;
  box-shadow: $shadow-nav-light-100;
  .bars {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    font-size: $font-medium;
    display: none;
  }
  .switch_group {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: $move-y-center;
    width: 100px;
    height: 50px;
    border-radius: 35px;
    box-shadow: $shadow-nav-light-100;
    font-size: $font-small;
    background: $dark-shadow-light;

    .theme_switch_input {
      opacity: 0;
    }
    .switch_label {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: $move-xy-center;
      display: inline-block;
      i {
        opacity: 0.6;
        position: absolute;
        top: 50%;
        transform: $move-y-center;
        &.fa-sun {
          left: 13px;
        }
        &.fa-moon {
          right: 13px;
        }
      }
    }
    &::after {
      content: "";
      transition: transform 0.5s;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: $move-y-center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: $white;
      box-shadow: $shadow-light-circle;
    }
    &.on {
      background: $light-shadow-light;

      &::after {
        transform: translate(50px, -50%);
      }
    }
  }
  &.drop {
    position: fixed;
    animation-name: drop_down;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    .item_list {
      .link {
      }
    }
  }
  .item_list {
    width: 100%;
    display: flex;
    justify-content: center;
    .switch_group{
      display:none;
    }
    .link {
      position: relative;
      display: inline-block;
      // width:100%;
      text-decoration: none;
      color: $text-color-dark;
      padding: $padding-large;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.5s;
      font-weight: bold;
      &.on,
      &:hover {
        transform: translateY(10px);
        color: $accent-color;
        i {
          opacity: 1;
          transition: all 0.5s;
          top: 10px;
        }
      }
      i {
        font-size: $font-small;
        position: absolute;
        opacity: 0;
        top: 5px;
        left: 50%;
        transform: $move-x-center;
        color: $accent-color;
      }
      span {
        font-size: $font-small;
      }
    }
  }
}
.main {
  width: 100%;
  margin: 0 auto;

  section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color-light1;
    &:nth-child(even) {
      background-color: $primary-color-light1;
    }
    .title {
      font-weight: weight(bold);
      &:hover {
        color: $accent-color;
      }
    }
  }
}

.title_wrap {
  display: flex;
  justify-content: center;
  .title_group {
    width: 66%;
    div.changing-title {
      font-size: 8vw;
      height: 1.2em;
      position: relative;
      left: 50%;
      width: 100%;
      overflow-y: hidden;
      transform: translate3d(0, 0, 0);
      transform: $move-x-center;
      h1 {
        font-size: 1em;
        position: absolute;
        left: 19vw;
        top: 0;
        margin: 0;
        .letter {
          position: relative;
          top: 1.2em;
          &.in {
            animation-name: letter-in;
            animation-duration: 0.3s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
          }
          &.out {
            top: 0em;
            animation-name: letter-out;
            animation-duration: 0.3s;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }
}

.section_introduce {
  justify-content: flex-start !important;
  .title {
    font-size: $font-medium;
    margin: 10vh 0;
    padding: 0 3vw;
  }
  .about_content_wrap {
    display: flex;
    flex-direction: row;
    .about_content {
      width: 15vw;
      margin: 1.5rem;
      .about_img {
        width: 100%;
        margin: auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.section_skills {
  background: #f0f0f0;
  color: $text-color2;
  .tab_header {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 10px 0;
    button {
      color: $text-color2;
      display: inline-block;
      width: 100px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      margin:10px;
      border-radius: 20px;
      background: $white-3;
      box-shadow: 10px 10px 10px $color-shadow, 0 0 $white,
        0 0 0 $color-shadow inset, 1px 1px 1px $white inset;
      &.on {
        background: #f0f0f0;
        box-shadow: 0 0 0 $color-shadow, 0 0 0 $white,
          5px 5px 5px $color-shadow inset, -5px -5px 5px $white inset;
      }
    }
  }
  .skill_content {
    .skills_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .item {
        position: relative;
        display:flex;
        align-items: center;
        justify-content: center;
        .card {
          margin: 1rem;
          overflow: hidden;
          position: relative;
          transition: box-shadow 3s;
          width: 200px;
          height: 300px;
          border-radius: 20px;
          background: #f0f0f0;
          box-shadow: $shadow-card-light-00;
          &.on {
            animation: cardAni-light 1s linear forwards;
            // svg circle:nth-child(2){
            //     animation:skill 3s linear forwards;
            //     }
            .circle.html {
              svg circle:nth-child(2) {
                transition: stroke-dashoffset 3s;
                stroke-dashoffset: calc(332px - 332px * 90 / 100);
              }
            }
            .circle.css {
              svg circle:nth-child(2) {
                transition: stroke-dashoffset 3s;
                stroke-dashoffset: calc(332px - 332px * 89 / 100);
              }
            }
            .circle.jq {
              svg circle:nth-child(2) {
                transition: stroke-dashoffset 3s;
                stroke-dashoffset: calc(332px - 332px * 80 / 100);
              }
            }
            .circle.js {
              svg circle:nth-child(2) {
                transition: stroke-dashoffset 3s;
                stroke-dashoffset: calc(332px - 332px * 60 / 100);
              }
            }
            .circle.ap {
              svg circle:nth-child(2) {
                transition: stroke-dashoffset 3s;
                stroke-dashoffset: calc(332px - 332px * 70 / 100);
              }
            }
            .circle.github {
              svg circle:nth-child(2) {
                transition: stroke-dashoffset 3s;
                stroke-dashoffset: calc(332px - 332px * 85 / 100);
              }
            }
          }
        }
        .detail{
          margin:3rem;
        }
        .circle {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          position: relative;
          top: 50%;
          left: 50%;
          transform: $move-xy-center;
          box-shadow: $shadow-light-circle;
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: $move-xy-center;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            box-shadow: $shadow-light-circle-inset;
          }
          &.html {
            transition: stroke-dashoffset 3s;
            svg circle:nth-child(2) {
              stroke: #e55126;
            }
          }
          &.css {
            svg circle:nth-child(2) {
              stroke: #0c73b8;
            }
          }
          &.js {
            svg circle:nth-child(2) {
              stroke: #e5a228;
            }
          }
          &.jq {
            svg circle:nth-child(2) {
              stroke: #0769ad;
            }
          }
          &.ap {
            svg circle:nth-child(2) {
              stroke: #01d5f5;
            }
          }
          &.github {
            svg circle:nth-child(2) {
              stroke: #ff7800;
            }
          }
        }
        .pie {
          top: 50%;
          left: 50%;
          transform: $move-xy-center rotate(-90deg);
          width: 120px;
          height: 120px;
          position: relative;
          border-radius: 50%;
        }
        svg circle {
          fill: none;
          stroke: $white-e;
          stroke-width: 14;
          stroke-dasharray: 333px;
          stroke-dashoffset: 0;
          &:nth-child(2) {
            stroke-dasharray: calc(332px * 0.9);
            stroke-dashoffset: 250;
            stroke: #457b9d;
            stroke-linecap: round;
          }
        }
        .counter {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: $move-xy-center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
        }
        .title {
          position: absolute;
          top: 20px;
          left: 50%;
          transform: $move-x-center;
          text-transform: uppercase;
        }
      }
    }
  }
}

.section_works {
  .work_list {
    display: flex;
    flex-wrap: wrap;
    .item {
      margin: 1rem;
      a {
        width: 300px;
        height: 200px;
        img {
          width: 100%;
        }
      }
    }
  }
}
@keyframes skill {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes cardAni-light {
  100% {
    background: $white-3;
    box-shadow: $shadow-card-light-100;
  }
}
@keyframes cardAni-dark {
  100% {
    background: $primary-color-dark1;
    box-shadow: $shadow-card-dark-100;
  }
}
@keyframes drop_down {
  0% {
    top: -90px;
  }
  100% {
    top: 0;
  }
}
@keyframes back2TopBtn {
  0%{
    bottom:-50px;
  }
  100%{
    bottom:-2px;
  }
}
@keyframes letter-in {
  0% {
    top: 1.2em;
  }
  100% {
    top: 0em;
  }
}
@keyframes letter-out {
  0% {
    top: 0em;
  }
  100% {
    top: -1.2em;
  }
}

@media screen and (max-width: 1026px) {
  html {
    font-size: 15px;
  }
  .nav {
    .item_list {
      .link {
        padding: $padding-small;
      }
    }
  }
  .section_skills {
    background: #f0f0f0;
    color: $text-color2;
    .tab_header {
      button {
        line-height: 50px;
        margin: 5px;
      }
    }
    .skill_content {
      .skills_list {
        .item {
          .card {
            width: 175px;
            height: 250px;
            margin: 1rem 0;
          }
          .detail{
            margin:1rem;
          }
          .circle {
            top: 60%;
            &::after {
            }
          }
          .pie {
          }
          svg circle {
          }
          .counter {
          }
          .title {
          }
        }
      }
    }
  }
}
@media screen and (max-width: 902px) {
  html {
    font-size: 15px;
  }
  .nav {
    .hippo {
      width: 80px;
    }
    .item_list {
      position: fixed;
      top: 0;
      left: -300px;
      width: 300px;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: $text-color-light;
      transition: left 0.5s;
      .switch_group{
        display:block;
        position:absolute;
        top:unset;
        right:0;
        bottom: 0;
        left:unset;
        transform: translate(0,0) scale(0.5);
        &.on{
          &::after{
            background:$primary-color-dark2;
          }
        }
      }
      .link {
        padding: $padding-small;
        &.on,
        &:hover {
          transform: translateX(10px);
          color: $accent-color;
          i {
            opacity: 1;
            transition: all 0.5s;
            top: 10px;
          }
        }
      }
      &.on {
        top: 0;
        left: 0;
        .link {
          margin-left: 25px;
          i {
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 0;
            transform: $move-y-center;
            color: $accent-color;
          }
        }
      }
    }
    .bars {
      display: block;
    }
    .switch_group {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
